.break-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 10%;
    height: 1px;
    width: 80%;
    background-color: rgba(180, 180, 180, 0.3);
}

.break-line {
    margin-top: 10px;
    padding-bottom: 10px;
}

.ss-pwd-toggle {
    cursor: pointer;
}

.vertical-middle {
    vertical-align: middle!important;
}

.multiple-row {
    background: white;
    border-right: 1px solid #f4f4f4;
}

.table>tbody+tbody {
    border-top: 0;
}

.table-hover>tbody:hover .multiple-row {
    background-color: #f5f5f5;
}

.log-date {
    width: 10em;
}

.progress-usage {
    min-width: 10em;
}

.option-qrcode {
    zoom: .5;
}

.no-break {
    word-break: keep-all;
}

.usage-box {
    position: relative;
}

.chartjs-tooltip {
    margin-bottom: 10px;
    position: absolute;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity .1s ease;
}

.chartjs-tooltip>.tooltip-arrow {
    position: absolute;
    left: 0%!important;
}

.chartjs-tooltip>.tooltip-inner {
    position: relative;
    left: -50%;
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.mce-panel {
    box-sizing: border-box!important;
}

.mt0 {
    margin-top: 0!important;
}

.mb0 {
    margin-bottom: 0!important;
}

.delete-line {
    text-decoration: line-through;
}

.slider.slider-horizontal {
    width: 95%!important;
    margin: 4px auto;
    display: block;
}

.progress,
.tooltip,
slider,
button,
canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider-tick-container .slider-tick:not(.in-selection) {
    opacity: 1;
    background: white;
    background-image: linear-gradient(to bottom, #f5f5f5 0, #f9f9f9 100%);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.table-responsive {
    border: 0!important;
}

.card .card-header {
    margin: 0;
    border-radius: 0;
}

.progress,
.progress>.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none
}

.progress,
.progress>.progress-bar,
.progress .progress-bar,
.progress>.progress-bar .progress-bar {
    border-radius: 1px
}

.progress.sm,
.progress-sm {
    height: 10px
}

.progress.sm,
.progress-sm,
.progress.sm .progress-bar,
.progress-sm .progress-bar {
    border-radius: 1px
}

.progress.xs,
.progress-xs {
    height: 7px
}

.progress.xs,
.progress-xs,
.progress.xs .progress-bar,
.progress-xs .progress-bar {
    border-radius: 1px
}

.progress.xxs,
.progress-xxs {
    height: 3px
}

.progress.xxs,
.progress-xxs,
.progress.xxs .progress-bar,
.progress-xxs .progress-bar {
    border-radius: 1px
}

.sidebar {
    background-color: #fff;
}

.sidebar::before,
.off-canvas-sidebar::before {
    background-color: #fff;
    display: block;
    content: "";
}

.card [data-background-color] {
    background: transparent;
    box-shadow: none;
}

.card [data-background-color],
.card [data-background-color] a,
.card [data-background-color] .title {
    color: rgba(0, 0, 0, 0.87);
}

.card .card-header,
.card .card-content {
    padding: 15px 20px;
}


/*
.main-panel {
    min-height: 100%;
}*/

.main-panel>.footer {
    padding: 15px;
}

.main-panel>.content {
    overflow-x: hidden;
    overflow-y: visible;
}

.progress {
    height: 4px;
    border-radius: 0;
    box-shadow: none;
    background: #DDDDDD;
}

.progress .progress-bar {
    box-shadow: none;
}

.progress .progress-bar,
.progress .progress-bar.progress-bar-default {
    background-color: #FFFFFF;
}

.progress .progress-bar.progress-bar-inverse {
    background-color: #212121;
}

.progress .progress-bar.progress-bar-primary {
    background-color: #9c27b0;
}

.progress .progress-bar.progress-bar-success {
    background-color: #4caf50;
}

.progress .progress-bar.progress-bar-info {
    background-color: #00bcd4;
}

.progress .progress-bar.progress-bar-warning {
    background-color: #ff9800;
}

.progress .progress-bar.progress-bar-danger {
    background-color: #f44336;
}

.progress .progress-bar.progress-bar-rose {
    background-color: #e91e63;
}

.progress.progress-line-primary {
    background: rgba(156, 39, 176, 0.2);
}

.progress.progress-line-info {
    background: rgba(0, 188, 212, 0.2);
}

.progress.progress-line-success {
    background: rgba(76, 175, 80, 0.2);
}

.progress.progress-line-warning {
    background: rgba(255, 152, 0, 0.2);
}

.progress.progress-line-danger {
    background: rgba(244, 67, 54, 0.2);
}

.progress .progress-bar,
.progress .progress-bar.progress-bar-default {
    background-color: #9c27b0;
}

*>.form-group:first-child {
    margin-top: 0;
}

.form-group {
    margin-top: 10px;
}

.form-control,
.form-group .form-control {
    background-size: 0 2px, 100% 1px;
}

.form-group .form-control {
    width: 100%!important;
}

.btn-group.open>.dropdown-toggle.btn,
.btn-group.open>.dropdown-toggle.btn.btn-default,
.btn-group-vertical.open>.dropdown-toggle.btn,
.btn-group-vertical.open>.dropdown-toggle.btn.btn-default {
    color: #999999;
}

.bootstrap-select>.dropdown-toggle {
    padding-left: 6px;
    text-transform: none;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.usage-box canvas {
    display: none;
}

.table tr td .progress {
    margin-top: 5px;
}

.table tr>td .progress {
    margin: 0;
}

.slider {
    background: transparent;
}

.login-box {
    max-width: 400px;
    margin: 10px auto;
    float: none;
}

textarea {
    resize: none;
}


@media (max-width: 768px) {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }
}
